@font-face {
  font-family: 'Aeonik Pro';
  src: url('../fonts/Aeonik_Pro.woff2') format('woff2');
  font-display: swap;
}

:root {
  --title-color: #bad6f7;
  --text-color: #A6ADBB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Aeonik Pro', sans-serif;
  background: #1b2027;
  background: linear-gradient(to bottom, #11152c, #000000);
  min-height: 100vh;
  letter-spacing: 0.2px;
}

input,
textarea,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

/* SECTION 1 */

.section-1 {
  padding: 8rem 2rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 4.8rem;
  color: var(--title-color);
  line-height: 1em;
  text-shadow: 0 2px 16px rgba(174, 207, 242, .24);
  margin-bottom: 1.6rem;
}

.paragraph {
  font-size: 2rem;
  line-height: 1.4em;
  color: var(--text-color);
}

.container-textarea {
  margin-top: 4rem;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  fill: #1b2027;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #bad6f7;
  border-radius: .5rem;
}

.close-icon:active {
  opacity: .8;
}

.textarea {
  resize: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 200px;
  border: 2px solid #a6adbb30;
  border-radius: 10px;
  font-size: 1.8rem;
  line-height: 1.4em;
  color: var(--text-color);
  padding: 1.6rem;
  padding-right: 4rem;
  transition: .3s;
}

.textarea::placeholder {
  letter-spacing: 0.5px;
  color: var(--text-color);
  opacity: .65;
}

.textarea:focus {
  border: 2px solid #a6adbb90;
}

.container-results {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.container-characters,
.container-words,
.container-phrases,
.container-paragraphs {
  border: 2px solid #a6adbb30;
  border-radius: 10px;
  padding: 1.6rem;
  flex: 1;
}

.container-characters h2,
.container-words h2,
.container-phrases h2,
.container-paragraphs h2 {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--title-color);
}

.container-characters span,
.container-words span,
.container-phrases span,
.container-paragraphs span {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--text-color);
}

.reset-button {
  font-size: 2.4rem;
  color: var(--text-color);
  border: 2px solid #a6adbb30;
  border-radius: 10px;
  background: #1e2332;
  padding: 1.6rem 3.6rem;
  user-select: none;
}

.reset-button:active {
  opacity: .8;
}

/* SECTION 2 */

.section-2 {
  padding: 8rem 2rem;
}

.section-2 .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section-2 .box-question {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-2 h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--title-color);
  line-height: 1.2em;
}

.section-2 p {
  font-size: 1.8rem;
  color: var(--text-color);
  width: 70%;
  line-height: 1.3em;
}

/* FOOTER */

.footer {
  padding: 2rem;
}

.footer p {
  color: var(--text-color);
  font-size: 1.6rem;
}

.footer-icons {
  margin-top: 1.6rem;
  display: flex;
  gap: 1rem;
}

.footer-icons svg {
  width: 26px;
  height: 26px;
  fill: var(--text-color);
  cursor: pointer;
  transition: .4s ease;
}

.footer-icons svg:hover {
  transform: scale(1.2);
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  .close-icon {
    top: 1.9rem;
    width: 20px;
    height: 20px;
  }

  .container-results {
    grid-template-columns: 1fr 1fr;
  }

  .container-characters h2,
  .container-words h2,
  .container-phrases h2,
  .container-paragraphs h2 {
    font-size: 2.4rem;
  }

  .container-characters span,
  .container-words span,
  .container-phrases span,
  .container-paragraphs span {
    font-size: 2.4rem;
  }

  .section-2 p {
    width: 90%;
    text-wrap: balance;
  }
}

@media screen and (max-width: 325px) {
  html {
    font-size: 55%;
  }
}